# __How to use?__

!python setup.py sdist

!pip install dist/feature_utils-1.0.tar.gz

In [1]:
import pandas as pd

df = pd.DataFrame({"A": [0,1,1,2], "B": ["a","a","b","c"]})
df

   A  B
0  0  a
1  1  a
2  1  b
3  2  c

In [2]:
from feature_utils import FeatureMaker

fm = FeatureMaker()
fm.target_cat_encode(df, ["B"], ["A"], ["mean", "q_25", "classic", "classic_ts", "diff_abs_1", "iqr_25_75"])

,A,B,tce_A_B_diff_abs_1,tce_A_B_std,tce_A_B_iqr_25_75,tce_A_B_last,tce_A_B_q_75,tce_A_B_median,tce_A_B_max,tce_A_B_min,tce_A_B_q_25,tce_A_B_mean,tce_A_B_first
0,0,a,NaN,0.707107,0.5,1,0.75,0.5,1,0,0.25,0.5,0
1,1,a,1.0,0.707107,0.5,1,0.75,0.5,1,0,0.25,0.5,0
2,1,b,NaN,NaN,0.0,1,1.00,1.0,1,1,1.00,1.0,1
3,2,c,NaN,NaN,0.0,2,2.00,2.0,2,2,2.00,2.0,2